<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ognice.dao.StoredetailMapper">
	<resultMap id="BaseResultMap" type="com.ognice.domain.Storedetail">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="c_id" property="c_id" jdbcType="INTEGER" />
		<result column="r_id" property="r_id" jdbcType="INTEGER" />
		<result column="r_name" property="r_name" jdbcType="VARCHAR" />
		<result column="r_unit" property="r_unit" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="s_num" property="s_num" jdbcType="INTEGER" />
		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="order_date" property="order_date" jdbcType="TIMESTAMP" />
		<result column="pull_com" property="pull_com" jdbcType="VARCHAR" />
		<result column="let_com" property="let_com" jdbcType="VARCHAR" />
		<result column="oprator" property="oprator" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`
		,
		`c_id`
		,
		`r_id`
		,
		`r_name`
		,
		`r_unit`
		,
		`type`
		,
		`s_num`
		,
		`price`
		,
		`order_date`
		,
		`pull_com`
		,
		`let_com`
		,
		`oprator`
		,
		`remark`
		
	</sql>
	<select id="selectStoredetailById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from `storedetail` where id = #{id,jdbcType=BIGINT}
	</select>
	<select id="page" parameterType="com.ognice.controller.common.PageSearchParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `storedetail` where 1=1
		<if test="params!=null">
		<if test="params.id !=null ">
		AND `id` = #{params.id}
		</if>
		<if test="params.c_id !=null ">
		AND `c_id` = #{params.c_id}
		</if>
		<if test="params.r_id !=null ">
		AND `r_id` = #{params.r_id}
		</if>
		<if test="params.r_name !=null and params.r_name!=''">
		 AND `r_name` like concat('%',#{params.r_name},'%')
		</if>
		<if test="params.r_unit !=null and params.r_unit!=''">
		 AND `r_unit` like concat('%',#{params.r_unit},'%')
		</if>
		<if test="params.type !=null ">
		AND `type` = #{params.type}
		</if>
		<if test="params.s_num !=null ">
		AND `s_num` = #{params.s_num}
		</if>
		<if test="params.price !=null ">
		AND `price` = #{params.price}
		</if>
		<if test="params.order_date !=null ">
		AND `order_date` = #{params.order_date}
		</if>
		<if test="params.pull_com !=null and params.pull_com!=''">
		 AND `pull_com` like concat('%',#{params.pull_com},'%')
		</if>
		<if test="params.let_com !=null and params.let_com!=''">
		 AND `let_com` like concat('%',#{params.let_com},'%')
		</if>
		<if test="params.oprator !=null and params.oprator!=''">
		 AND `oprator` like concat('%',#{params.oprator},'%')
		</if>
		<if test="params.remark !=null and params.remark!=''">
		 AND `remark` like concat('%',#{params.remark},'%')
		</if>
		</if>
		order by id desc
		<if test="page!=null"> limit #{page},#{pagesize}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Long"> delete from `storedetail` where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.ognice.domain.Storedetail"> insert into `storedetail` (
		`id`
				,
		`c_id`
				,
		`r_id`
				,
		`r_name`
				,
		`r_unit`
				,
		`type`
				,
		`s_num`
				,
		`price`
				,
		`order_date`
				,
		`pull_com`
				,
		`let_com`
				,
		`oprator`
				,
		`remark`
				
	) values (
		#{id,jdbcType=INTEGER}
				,
		#{c_id,jdbcType=INTEGER}
				,
		#{r_id,jdbcType=INTEGER}
				,
		#{r_name,jdbcType=VARCHAR}
				,
		#{r_unit,jdbcType=VARCHAR}
				,
		#{type,jdbcType=INTEGER}
				,
		#{s_num,jdbcType=INTEGER}
				,
		#{price,jdbcType=DOUBLE}
				,
		#{order_date,jdbcType=TIMESTAMP}
				,
		#{pull_com,jdbcType=VARCHAR}
				,
		#{let_com,jdbcType=VARCHAR}
				,
		#{oprator,jdbcType=VARCHAR}
				,
		#{remark,jdbcType=VARCHAR}
				
	)
	</insert>

	<update id="update" parameterType="com.ognice.domain.Storedetail">
		update `storedetail`
		<set>
		<if test="id != null">
		`id`= #{id,jdbcType=INTEGER},
		</if>
		<if test="c_id != null">
		`c_id`= #{c_id,jdbcType=INTEGER},
		</if>
		<if test="r_id != null">
		`r_id`= #{r_id,jdbcType=INTEGER},
		</if>
		<if test="r_name != null">
		`r_name`= #{r_name,jdbcType=VARCHAR},
		</if>
		<if test="r_unit != null">
		`r_unit`= #{r_unit,jdbcType=VARCHAR},
		</if>
		<if test="type != null">
		`type`= #{type,jdbcType=INTEGER},
		</if>
		<if test="s_num != null">
		`s_num`= #{s_num,jdbcType=INTEGER},
		</if>
		<if test="price != null">
		`price`= #{price,jdbcType=DOUBLE},
		</if>
		<if test="order_date != null">
		`order_date`= #{order_date,jdbcType=TIMESTAMP},
		</if>
		<if test="pull_com != null">
		`pull_com`= #{pull_com,jdbcType=VARCHAR},
		</if>
		<if test="let_com != null">
		`let_com`= #{let_com,jdbcType=VARCHAR},
		</if>
		<if test="oprator != null">
		`oprator`= #{oprator,jdbcType=VARCHAR},
		</if>
		<if test="remark != null">
		`remark`= #{remark,jdbcType=VARCHAR},
		</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

</mapper>